.title {
    font-size: 36pt;
}

.episode-is-not-read {
    background-image: none;
    background-color: lightblue;
}

.episode-is-read {
    background-image: none;
    background-color: lightgreen;
}

entry.being-edited, dropdown.being-edited button {
    background-image: none;
    background-color: lightgreen;
}

entry.unsaved-change, dropdown.unsaved-change button {
    background-image: none;
    background-color: yellow;
}

entry.bad-input, dropdown.bad-input button {
    background-image: none;
    background-color: red;
}

tooltip {
    font-family: monospace;
}

.episode:hover, .episode:hover entry {
    background-color: lightyellow;
}
