.title {
    font-size: 36pt;
}

.episode-is-not-read {
    background-image: none;
    background-color: lightblue;
}

.episode-is-read {
    background-image: none;
    background-color: lightgreen;
}

.unsaved-change, .unsaved-change entry, .unsaved-change button {
    background-image: none;
    background-color: yellow;
}
